.logokom {
    width: 200px;
    position: absolute;
    left: 50px;
}

.logokomp {
    width: 400px;
    position: relative;
    right: 250px;
    top: 720px;
    display: none;
}

.logokom1 {
    width: 200px;
    position: absolute;
    left: 50px;
}